<!DOCTYPE html>
<html lang="fr">
<head>
  <meta content='text/html; charset="UTF-8"' http-equiv='Content-Type'>
</head>
<body>
  <h1>Salut <%=@user.first_name%> ! voici ta réservation...</h1>  
  <p>
    Tu t'es inscrit à l'évenement suivant : <%=@event.title%>.
    N'oublie pas la date : le <%=@event.start_date%> !
  </p>
  <p>
    Nous sommes impatients de t'y voir !
  </p>
</body>
</html>
