<div class="container">
    <h1>Paiement est confirmé</h1>
    <h2>Merci <%= @user.first_name %> pour votre achat de <strong><%= @amount %> €</strong> !</h2>
    <p>Un email vous a été envoyé à <%= @user.email %> avec le récapitulatif de votre commande.</p>
</div>